# -*- coding: utf-8 -*-

aac-datasets==0.5.2
aac-metrics==0.5.4
absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
arrow==1.3.0
asttokens==3.0.0
attrs==24.3.0
audioread==3.0.1
black==24.2.0
Brotli==1.1.0
certifi==2024.12.14
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.1.8
codecarbon==2.3.4
colorlog==6.9.0
comm==0.2.2
debugpy==1.8.12
decorator==5.1.1
deepspeed==0.13.5
distlib==0.3.9
executing==2.1.0
filelock==3.16.1
flake8==7.0.0
frozenlist==1.5.0
fsspec==2024.12.0
grpcio==1.69.0
h5py==3.12.1
hjson==3.1.0
huggingface-hub==0.27.1
hydra-colorlog==1.2.0
hydra-core==1.3.2
identify==2.6.5
idna==3.10
inflate64==1.0.1
iniconfig==2.0.0
ipykernel==6.29.3
ipython==8.22.1
jedi==0.19.2
Jinja2==3.1.5
joblib==1.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
lazy_loader==0.4
librosa==0.10.2.post1
lightning==2.2.0
lightning-utilities==0.11.9
llvmlite==0.43.0
Markdown==3.7
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multivolumefile==0.2.3
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.3
nltk==3.8.1
nodeenv==1.9.1
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.560.30
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
packaging==24.2
pandas==2.2.3
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.5.0
pooch==1.8.2
pre-commit==3.6.2
prometheus_client==0.21.1
prompt_toolkit==3.0.48
propcache==0.2.1
protobuf==5.29.3
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py7zr==0.22.0
pybcj==1.0.3
pycodestyle==2.11.1
pycparser==2.22
pycryptodomex==3.21.0
pydantic==2.10.5
pydantic_core==2.27.2
pyflakes==3.2.0
Pygments==2.19.1
pynvml==12.0.0
pyppmd==1.1.1
pytest==8.0.2
python-dateutil==2.9.0.post0
pytorch-lightning==2.5.0.post0
pytz==2024.2
PyYAML==6.0.1
pyzmq==26.2.0
pyzstd==0.16.2
RapidFuzz==3.11.0
regex==2024.11.6
requests==2.32.3
safetensors==0.5.2
scikit-learn==1.6.1
scipy==1.15.1
sentence-transformers==3.1.1
six==1.17.0
soundfile==0.13.0
soxr==0.5.0.post1
stack-data==0.6.3
sympy==1.13.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
texttable==1.7.0
threadpoolctl==3.5.0
tokenizers==0.15.2
torch==2.2.1
torchaudio==2.2.1
torchlibrosa==0.1.0
torchmetrics==1.6.1
torchoutil==0.3.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.39.3
triton==2.2.0
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
virtualenv==20.29.0
wcwidth==0.2.13
Werkzeug==3.1.3
yarl==1.18.3
